body {
	background: #C8D3D5;
}
.centerbox {
	width: 400px;
	/*height: 400px;*/
	/*margin: -200px 0 0 -150px;*/
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 8px;
	background: #6E8387;
	box-sizing: border-box;
	padding: 50px;
	left: 50%;
	top: 50%;
	position: absolute;

	color: #FCFAFA;
}
h1 {
	text-align: center;
	margin: 0;
	font-size: 24px;
}
.btn {
	background: #0CCA4A;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
.input-div {
	margin: 20px 0;
}
.input-div:first-child {
	margin: 0;
}
input[type="text"] {
	padding: 5px;
	text-align: center;
	width: 100%;
	border-radius: 5px;
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid #A4B8C4;
	font-size: 20px;
	background: #FCFAFA;
}