<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'frontend/style.css' %}">
	<!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
</head>
<body>
	<div class="centerbox">
		<h1 class="title">
			Hi {{user.username}}. 
			<br>
			Would you like to place a bet?
		</h1>
		<form method="post">
			<p>{% csrf_token %}</p>
			<div class="inputs">
			    {{ form }}
<!-- 				<select name="headsortails">
					<option value="heads">Heads</option>
					<option value="tails">Tails</option>
				</select> -->
				<input type="submit" value="Place Bet" class="placebet-btn btn"/>
			</div>
			<div class="error">{{ error }}</div>
		</form>
		<a href="/logout/">
			<div class="signup-btn btn gray">
				Logout
			</div>
		</a>
	</div>
</body>
</html>