<html>
<head>
	{% load staticfiles %}
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'frontend/style.css' %}">
	<!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
	<title>FundLeague - Sign In</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script>
		$(document).ready ( function() {
			$(".play-btn").click(function(){
				$(".fullscreen-bg__video_overlay").fadeIn();
				$("fullscreen-bg__video_overlay").prop("muted",!$(this).prop("muted"));
			});
			$(".fullscreen-bg__video_overlay").on("click", function(){
				$("fullscreen-bg__video_overlay").prop("muted",!$(this).prop("muted"));
				$(".fullscreen-bg__video_overlay").fadeOut();
			});
		});
	</script>
</head>
<body>
	<video id = "Fantacy_Football" class ="fullscreen-bg__video" autoplay muted>
			<source src ="../../static/frontend/Fantacy_Football.mp4" type = "video/mp4" >
			<source src ="../Fantacy_Football.ogv" type = "video/ogg">
			<source src ="../Fantacy_Football.webm" type = "video/webm">
	</video>
	<div class="centerbox">
		<div class="goal">
			<div class="top">
			</div>
			<br>
			<div class="bottom">
			</div>
		</div>
		<h1 class="title">
			Welcome to 
			<br>
			<span class="fundleague">Block League</span>
		</h1>
		<form method="post">
			<p>{% csrf_token %}</p>
			<div class="inputs">
			    {{ form }}
				<input type="submit" value="Sign In" class="signin-btn btn"/>
			</div>
			<div class="error">{{ error }}</div>
		</form>
		<a href="/signup/">
			<div class="signup-btn btn gray">
				Sign Up
			</div>
		</a>
	</div>
	<div class="play-btn">
		Play
	</div>
	<video id = "Fantacy_Football" class ="fullscreen-bg__video_overlay" autoplay muted>
			<source src ="../../static/frontend/Fantacy_Football.mp4" type = "video/mp4" >
			<source src ="../Fantacy_Football.ogv" type = "video/ogg">
			<source src ="../Fantacy_Football.webm" type = "video/webm">
	</video>
</body>
</html>