<html>
<head>
	{% load staticfiles %}
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'frontend/style.css' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/favicon.png' %}">
	<title>FundLeague - Sign Up</title>
</head>
<body>
	<div class="centerbox">
		<h1 class="title">
			Your Bet Result
		</h1>
		<form method="post">
			<p>{% csrf_token %}</p>
			<div class="inputs">
			    {{ form }}
				<input type="submit" value="Join" class="signup-btn btn"/>
			</div>
			<div class="error">{{ error }}</div>
		</form>
		<a href="/">
			<div class="signin-btn btn gray">
				Sign in
			</div>
		</a>
		<div>
			<p>
			</p>
		</div>	
	</div>
</body>
</html>